<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="10.1.1541" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Data" version="7.1.1541" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="7.1.1541" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Data.Interfaces" version="7.1.1541" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="7.1.1541" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Services" version="7.1.1541" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>